<div class="container">
    <table>
        <tr>
            <td>Username</td>
            <td>{{student.username}}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{student.email}}</td>
        </tr>
        <tr>
            <td>Course</td>
            <td>{{student.course}}</td>
        </tr>
        <tr>
            <td>Branch</td>
            <td>{{student.branch}}</td>
        </tr>
        <tr>
            <td>Role</td>
            <td>student.role</td>
        </tr>

    </table>
</div>